* {
    margin: 0;
    padding: 0;
}
/*Home style*/

 html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.section-A{
    text-align: center;
    margin-top: 50px;
}